---
import MainLayout from "../layouts/MainLayout.astro";

import Headsec from "../components/Headsec.astro";
import Mainsec from "../components/Mainsec.astro";
---

<MainLayout title="HomeðŸ !Sweet Home">
  <main
    class="lg:min-h-screen h-auto w-screen flex flex-row flex-wrap lg:px-10 gap-2 back backdrop-blur-lg"
  >
    <Headsec />
    <Mainsec />
  </main>
</MainLayout>
