---
import { FaInstagram, FaLinkedin, FaGithub, FaEnvelope } from "react-icons/fa6";
---

<section
  class="flex-shrink-0 lg:sticky lg:top-0 lg:h-screen h-fit lg:w-1/3 w-screen flex flex-col flex-nowrap items-center lg:p-2 p-7 justify-center"
>
  <section>
    <a class="lg:text-5xl text-4xl font-sora-700 text-slate-50" href="/">
      Karthikeya Enge
    </a>
    <ul
      class="steps steps-vertical font-poppins-500 lg:text-xl text-sm font-semibold text-sky-500 mt-1"
    >
      <li data-content="" class="step step-info">MERN Stack Developer</li>
      <li data-content="" class="step step-info">
        Quantum Computing Enthusiast
      </li>
      <li data-content="" class="step step-info">AI Enthusiast</li>
    </ul>

    <p class="text-lg font-poppins-400 font-extrabold text-slate-400 mt-4 prose">
      I build creative Web applications & ❤️ to know about Quantum Physics &
      Space.
    </p>
  </section>
  <nav class="mt-12 w-1/2">
    <ul
      class="text-lg lg:flex hidden flex-col font-poppins-300 font-bold w-full transition-all delay-100 gap-3"
    >
      <li class="group flex flex-row items-center justify-normal gap-4">
        <div
          class="bg-slate-300 w-24 h-0.5 group-hover:scale-125 group-hover:bg-slate-100"
        >
        </div>
        <a
          href="#about"
          class="px-2 text-slate-300 group-hover:scale-125 group-hover:mx-4 group-hover:text-sky-400"
        >
          About
        </a>
      </li>
      <li class="group flex flex-row items-center justify-normal gap-4">
        <div
          class="bg-slate-300 w-24 h-0.5 group-hover:scale-125 group-hover:bg-slate-100"
        >
        </div>
        <a
          href="#passion"
          class="px-2 text-slate-300 group-hover:scale-125 group-hover:mx-4 group-hover:text-sky-400"
        >
          Passion
        </a>
      </li>
      <li class="group flex flex-row items-center justify-normal gap-4">
        <div
          class="bg-slate-300 w-24 h-0.5 group-hover:scale-125 group-hover:bg-slate-100"
        >
        </div>
        <a
          href="#skills"
          class="px-2 text-slate-300 group-hover:scale-125 group-hover:mx-4 group-hover:text-sky-400"
        >
          Skills
        </a>
      </li>
      <li class="group flex flex-row items-center justify-normal gap-4">
        <div
          class="bg-slate-300 w-24 h-0.5 group-hover:scale-125 group-hover:bg-slate-100"
        >
        </div>
        <a
          href="#projects"
          class="px-2 text-slate-300 group-hover:scale-125 group-hover:mx-4 group-hover:text-sky-400"
        >
          Projects
        </a>
      </li>
    </ul>
  </nav>

  <ul
    class="flex flex-row lg:justify-center justify-start gap-5 items-center w-2/3 lg:mt-16 self-center"
  >
    <li class="relative group"  >
      <label
                for="play"
                class="absolute hidden group-hover:block text-xs -right-5 dark:bg-slate-800 dark:text-slate-200 font-poppins-500 text-slate-800 bg-slate-400 rounded-md -top-9 px-4 py-2"
              >
                Instagram
              </label>
      <a href={import.meta.env.SECRET_INSTAGRAM_URL} target="_blank">
        <FaInstagram
          className="text-3xl hover:text-sky-500 text-slate-400  hover:cursor-pointer"
        />
      </a>
    </li>
    <li class="relative group" >
      <label
      for="play"
      class="absolute hidden group-hover:block text-xs -right-5 dark:bg-slate-800 dark:text-slate-200 font-poppins-500 text-slate-800 bg-slate-400 rounded-md -top-9 px-4 py-2"
    >
     Linkedin
    </label>
      <a href={import.meta.env.SECRET_LINKEDIN_URL} target="_blank">
        <FaLinkedin
          className="text-3xl hover:text-sky-500 text-slate-400 hover:cursor-pointer"
        />
      </a>
    </li>
    
    <li class="relative group" >
      <label
    for="play"
    class="absolute hidden group-hover:block text-xs -right-5 dark:bg-slate-800 dark:text-slate-200 font-poppins-500 text-slate-800 bg-slate-400 rounded-md -top-9 px-4 py-2"
  >
    Github
  </label>
      <a href={import.meta.env.SECRET_GITHUB_URL} target="_blank">
        <FaGithub
          className="text-3xl hover:text-sky-500 text-slate-400  hover:cursor-pointer"
        />
      </a>
    </li>
    
    <li class="relative group" >
      <label
    for="play"
    class="absolute hidden group-hover:block text-xs -right-5 dark:bg-slate-800 dark:text-slate-200 font-poppins-500 text-slate-800 bg-slate-400 rounded-md -top-9 px-4 py-2"
  >
    Mail
  </label>
      <a href="mailto:karthikeya.enge@hotmail.com" target="_blank">
        <FaEnvelope
          className="text-3xl hover:text-sky-500 text-slate-400  hover:cursor-pointer"
        />
      </a>
    </li>
  </ul>
</section>
