---
import { FaFile } from "react-icons/fa6";

import Course from "../components/Course.astro";
import Projectsec from "../components/Projectsec.astro";
import Footer from "../components/Footer.astro";
import { Picture } from "astro:assets";
import apollo from '../assets/apollo.png';
---

<section
  class="flex-shrink-0 h-auto lg:w-1/2 w-screen flex flex-col flex-nowrap items-center lg:p-2 p-7 lg:pt-14"
>
  {" "}
  <section id="about">
    <h2
      class="font-sora-600 text-slate-100 my-2 lg:hidden top-0 sticky bg-slate-900 bg-opacity-10 backdrop-blur-md p-2 rounded-lg"
    >
      ABOUT
    </h2>
    <p class="font-poppins-400 text-slate-400 text-lg prose prose-xl">
      I took Computer Science as my undergrad course, thinking I could build
      something useful that people could use to resolve their issues. I took{
        " "
      }
      <a href="https://cs50.harvard.edu/x/2023/" class="text-sky-500"> CS50</a>
      , which inspired me to learn more about coding, and that's how I started my
     <strong class="text-slate-300 font-poppins-500"> web development journey</strong>. Fast-forward to today: I've built an <strong class="text-slate-300 font-poppins-500"> attendance manager</strong>
      for my college, several other web apps and am looking forward to building more.
    </p>{" "}
    <br />
    <p class="font-poppins-400 text-slate-400 text-lg prose prose-xl">
      {" "}
      My Focus is on building creative web apps that can solve common issues and
      help Learners, tutors, etc. to do more. In my free time, I mostly create my
      own fun web apps to learn and help my friends learn.
    </p>{" "}
    <br />
    <p class="font-poppins-400 text-slate-400 text-lg prose prose-xl">
      {" "}
      When I'm not on the computer, I mostly love to spend my time with my Family
      and Friends.
    </p>
  </section>
  {/* passion section */}
  <section id="passion" class="mt-20">
    <h2 class="font-sora-600 text-slate-100 my-2 lg:block hidden">PASSION</h2>
    <h2
      class="font-sora-600 text-slate-100 my-2 lg:hidden top-0 sticky bg-slate-900 bg-opacity-10 backdrop-blur-md p-2 rounded-lg z-20"
    >
      PASSION
    </h2>
    <section
      class="w-full flex flex-row flex-wrap items-center justify-center h-fit gap-2 text-slate-100"
    >
      <article
        class="card card-compact w-64 bg-white h-[420px] w-fullrounded-md bg-clip-padding backdrop-filter backdrop-blur-sm border border-none shadow-lg shadow-black flex-shrink-0 bg-opacity-5"
      >
        <figure>
          <img
            src={"https://raw.githubusercontent.com/KarthikeyaEnge/Memento/main/src/assets/code.png"}
            alt="code"
            class="h-50 w-full"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Development</h2>
          <p class="text-sm font-poppins-300 prose text-slate-300">
            {" "}
            with a love for web design and development and a strong CS foundation.
            I'm Passionate about building various creative web applications. As I'm
            improving as a web developer. I would like to develop apps that are clean,
            easily readable, and understandable
          </p>
        </div>
      </article>
      <article
        class="card card-compact w-64 bg-white h-[420px] w-fullrounded-md bg-clip-padding backdrop-filter backdrop-blur-sm border border-none shadow-lg shadow-black flex-shrink-0 bg-opacity-5"
      >
        <figure >
          <img
            src={"https://raw.githubusercontent.com/KarthikeyaEnge/Memento/main/src/assets/ai.png"}
            alt="ai"
            class="h-50 w-full"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Artificial Intelligence</h2>
          <p class="text-sm font-poppins-300 prose text-slate-300">
            {" "}
            I am always curious to know about the early advancements of AI in various
            fields. I took <strong class="text-sky-400">AI</strong> as my minor in undergrad so that I could understand
            and implement it in various use cases.
          </p>
        </div>
      </article>
      <article
        class="card card-compact w-64 bg-white h-[420px]  w-fullrounded-md bg-clip-padding backdrop-filter backdrop-blur-sm border border-none shadow-lg shadow-black flex-shrink-0 bg-opacity-5"
      >
        <figure >
          <img
            src={"https://raw.githubusercontent.com/KarthikeyaEnge/Memento/main/src/assets/phy.png"}
            alt="code"
            class="h-50 w-full"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Physics</h2>
          <p class="text-sm font-poppins-300 prose text-slate-300">
            {" "}
            I have been a Fan of the <strong class="text-sky-400">Special Theory Of Relativity</strong> and <strong class="text-sky-400">Quantum Physics</strong>
            since I was a kid. I would love to know about the various paradoxes and
            theories that our world runs on. I believe Quantum computing will change
            the world.
          </p>
        </div>
      </article>
    </section>
  </section>
  {/**skills section */}
  <section id="skills" class="mt-20">
    <section class="flex flex-col  flex-wrap gap-2 items-center justify-center">
      <h2 class="card-title self-center text-slate-100">
        {" "}
        Achievements
      </h2>
      <article
        class="w-auto bg-white w-fullrounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-5 border border-none shadow-lg shadow-black flex-shrink-0 h-56 flex justify-center items-center rounded-2xl"
      >
        <div class="w-auto">
        </div>
        <a
          href="https://www.credly.com/badges/24357bcf-9130-4f62-a0e2-c7c6595912ae/public_url"
          target="_blank"
        >
          <figure>
            {" "}
            <img
              src={"https://raw.githubusercontent.com/KarthikeyaEnge/Memento/main/src/assets/mdb.png"}
              alt="mdb"
            />
          </figure>
        </a>

        <a href="https://www.apollographql.com/tutorials/certifications/9ddd9eb4-6938-4e32-ab1e-50beaebad872"
        target="_blank"
        >
          <figure>
            {" "}
            <Picture
              src={apollo}
              alt="apollo"
              formats={["avif","webp"]}
              class=" w-56 h-auto"
            />
          </figure>
        </a>
      </article>

      <article
        class="flex flex-col gap-2 items-center w-fullrounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-white bg-opacity-5 border border-none shadow-lg shadow-black p-5 rounded-xl h-auto cursor-pointer"
      >
        <h2 class="font-sora-600 text-slate-100 text-xl">
          Technologies I've worked
        </h2>
        <img
          src="https://skillicons.dev/icons?i=c,java,py,html,css,js,git,github,md,typescript,react,tailwind,vite,django,nodejs,mongodb,express,firebase,figma,astro,graphql,apollo&perline=6"
          alt="skills-1"
        />

      </article>
      <a
        href={import.meta.env.SECRET_RESUME_URL}
        class="text-xl font-inter mt-2 flex flex-row flex-nowrap items-center transition-all hover:text-sky-500 py-2 px-4 border border-sky-500 bg-sky-400 bg-opacity-10 text-white rounded-3xl shadow-sm shadow-black gap-4"
        target="_blank"
      >
        <FaFile /> My Resume
      </a>
    </section>
  </section>
  {/**projects section */}
  <Projectsec />
  <Course />
  <Footer />
</section>
