---
import { FaGithub, FaUpRightFromSquare } from "react-icons/fa6";
---

<section class="flex flex-col gap-2 flex-nowrap w-full mt-16" id="projects">
  <h2 class="font-sora-600 text-slate-100 my-2 lg:block hidden">PROJECTS</h2>
  <h2
    class="font-sora-600 text-slate-100 my-2 lg:hidden top-0 sticky bg-slate-900 bg-opacity-10 backdrop-blur-md p-2 rounded-lg z-20"
  >
    PROJECTS
  </h2>
  <article
    class="card lg:card-side gap-3 card-compact bg-white w-fullrounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-5 border border-none flex-shrink-0 shadow-lg shadow-black mt-7"
  >
    <figure class="p-2">
      <img
        src={"https://raw.githubusercontent.com/KarthikeyaEnge/Memento/main/src/assets/ms.png"}
        alt="mineskill"
        class="rounded-lg"
      />
    </figure>

    <section class="flex flex-col items-center justify-center gap-3 p-2">
      <h2
        class="card-title flex flex-row items-center justify-center flex-wrap"
      >
        <a
          href="https://mineskill.onrender.com/"
          target="_blank"
          class="font-sora-600 text-slate-200 hover:text-sky-400 flex flex-row flex-nowrap gap-2 items-center"
        >
          MINESKILL
          <FaUpRightFromSquare className="text-sm text-slate-400" />
        </a>
        <a
          href="https://github.com/KarthikeyaEnge/StudyScraper_FrontEnd"
          class="badge ring-0 border-none outline-none hover:text-sky-300"
          target="_blank"
        >
          <FaGithub className="m-1" /> Github repo
        </a>
      </h2>

      <p class="text-md font-sora-500 text-slate-200">
        A web App that helps students to find quality content in web, videos
        with just their syllabus copy scan/photo. Just upload the syllabus copy
        you can get quality content like videos, website-links and more.
      </p>

      <h1 class="text-slate-100 font-sora-500">Build with</h1>
      <ul class="flex flex-row gap-3 items-center flex-wrap justify-center">
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          ReactJS
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          ViteJS
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          MongoDB
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          ExpressJS
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          Tailwindcss
        </li>
      </ul>
    </section>
  </article>

  {/**project2 */}
  <article
    class="card lg:card-side gap-3 card-compact bg-white w-fullrounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-5 border border-none flex-shrink-0 shadow-lg shadow-black mt-7"
  >
    <figure class="p-5">
      <img
        src={"https://raw.githubusercontent.com/KarthikeyaEnge/Memento/main/src/assets/am.png"}
        alt="attendance"
        class="rounded-lg"
      />
    </figure>

    <section class="flex flex-col items-center justify-center gap-3 p-2">
      <h2
        class="card-title flex flex-row items-center justify-center flex-wrap"
      >
        <a
          href="https://github.com/KarthikeyaEnge/Attendance_mng"
          class="font-sora-600 text-slate-200 hover:text-sky-400 flex flex-row flex-nowrap gap-2 items-center"
          target="_blank"
        >
          ATTENDANCE_MANAGER
          <FaUpRightFromSquare className="text-sm text-slate-400" />
        </a>
        <a
          href="https://github.com/KarthikeyaEnge/Attendance_mng"
          class="badge ring-0 border-none outline-none hover:text-sky-300"
          target="_blank"
        >
          <FaGithub className="m-1" /> Github repo
        </a>
      </h2>

      <p class="text-md font-sora-500 text-slate-200">
        A PWA which basically ease daily attendance procedure and has features
        like attendance pdf and excel sheet converter.
      </p>

      <h1 class="text-slate-100 font-sora-500">Build with</h1>
      <ul class="flex flex-row gap-3 items-center flex-wrap justify-center">
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          ReactJS
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          ViteJS
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          Google scripts
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          DaisyUI
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          Tailwindcss
        </li>
      </ul>
    </section>
  </article>

  {/** project3 */}
  <article
    class="card lg:card-side gap-3 card-compact bg-white w-fullrounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-5 border border-none flex-shrink-0 shadow-lg shadow-black mt-7"
  >
    <figure class="p-5">
      <img
        src={"https://raw.githubusercontent.com/KarthikeyaEnge/Memento/main/src/assets/rs.png"}
        alt="mineskill"
        class="rounded-lg"
      />
    </figure>

    <section class="flex flex-col items-center justify-center gap-3 p-2">
      <h2
        class="card-title flex flex-row items-center justify-center flex-wrap"
      >
        <a
          href="https://github.com/KarthikeyaEnge/Learn-web_progs/tree/main/web_adv/webpage_15"
          target="_blank"
          class="font-sora-600 text-slate-200 hover:text-sky-400 flex flex-row flex-nowrap gap-2 items-center"
        >
          RAILRESERVE SYS.
          <FaUpRightFromSquare className="text-sm text-slate-400" />
        </a>
        <a
          href="https://github.com/KarthikeyaEnge/Learn-web_progs/tree/main/web_adv/webpage_15"
          target="_blank"
          class="badge ring-0 border-none outline-none hover:text-sky-300"
        >
          <FaGithub className="m-1" /> Github repo
        </a>
      </h2>

      <p class="text-md font-sora-500 text-slate-200">
        A web App that acts as a platform for Railway Reservation using user
        authentication, and features like past reservation search and more.
      </p>

      <h1 class="text-slate-100 font-sora-500">Build with</h1>
      <ul class="flex flex-row gap-3 items-center flex-wrap justify-center">
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          Django
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          HTML
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          CSS
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          JavaScript
        </li>
        <li
          class="badge ring-0 border-none outline-none bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal"
        >
          SQLite
        </li>
      </ul>
    </section>
  </article>
</section>
